scenarios=/Users/garethshercliff/opensource/scenarios/bray-scenarios
flashcards=/Users/garethshercliff/opensource/scenarios/bray-flashcards
premium=/Users/garethshercliff/opensource/scenarios/bray-premium
template=/Users/garethshercliff/opensource/scenarios/bray-app-template
